
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	--brown: #996f15;
	--white: #fdfff5;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Pacifico', cursive;
    box-sizing: border-box;
    background: var(--brown);
}

.container-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 2rem;
}

.container-child {
    max-width: 350px;
    width: 100%;
}

.calculator {
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.calculator .display {
	background: #278637;
	padding: 1rem;
	border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.display .display-output {
    width: 100%;
    border: 0px;
    background: #16461e;
    border-radius: .725rem;
    padding: .15rem;
    box-shadow: inset 2px 3px 5px rgba(0, 0, 0, 0.5);
    outline: none;
}

.display-output output {
	display: block;
	border: none;
	outline: none;
	width: 100%;
}

output#input {
	font-size: 1.325rem;
	font-weight: 400;
	text-align: right;
	color: var(--white);
}

output#output {
	font-size: 1.750rem;
	font-weight: 600;
	text-align: right;
	color: var(--white);
}


.calculator .interface-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #278637;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.interface-buttons button {
    font-size: 1.325rem;
    padding: 1rem 0;
    font-weight: 700;
    background: #616161;
    border: 0px solid transparent;
    outline: none;
    text-decoration: none;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.5);
    color: #DFDFDF;
    cursor: pointer;
    transition: all .15s ease-in-out;
}